<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/sass/style.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" id="sidebar">
            <nav>
                <div class="heading">
                    <h3>Admin</h3>
                </div>
                <div class="navlink">
                    <a href="" class="nav-item">
                        <i class="fa fa-user"></i>
                        Dashboard
                    </a>
                    <a href="/touristeInsert" class="nav-item">
                        <i class="fa fa-user"></i>
                        Touriste
                    </a>
                    <a href="/listTouriste" class="nav-item">
                        <i class="fa fa-user"></i>
                        Table
                    </a>
                    <a href="" class="nav-item">
                        <i class="fa fa-user"></i>
                        Dashboard
                    </a>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="head">
                <h3>Tableau de board</h3>
                <div class="date">
                    <h4>Mercredi 10 juin 2025</h4>
                </div>
                <div class="icon">
                    <i class="fa fa-bars" id="menu-btn"></i>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-result">
                        <div class="icon">
                            <div class="fa fa-user"></div>
                        </div>
                        <div class="contenu">
                            <p>Total des Clients</p>
                            <h4>50</h4>
                        </div>
                    </div>
                    <div class="card-result-1">
                        <div class="icon">
                            <div class="fa fa-user"></div>
                        </div>
                        <div class="contenu">
                            <p>Total des Clients</p>
                            <h4>50</h4>
                        </div>
                    </div>
                    <div class="card-result-2">
                        <div class="icon">
                            <div class="fa fa-user"></div>
                        </div>
                        <div class="contenu">
                            <p>Total des Clients</p>
                            <h4>50</h4>
                        </div>
                    </div>
                    <div class="card-result-3">
                        <div class="icon">
                            <div class="fa fa-user"></div>
                        </div>
                        <div class="contenu">
                            <p>Total des Clients</p>
                            <h4>50</h4>
                        </div>
                    </div>
                </div>
                <div class="chart">
                    <canvas></canvas>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Date</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Andriniaina</td>
                                <td>Luca</td>
                                <td>27/10/2004</td>
                                <td>En ligne</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/button.js"></script>
</html>