<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/sass/style.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" id="sidebar">
            <nav>
                <div class="heading">
                    <h3>Admin</h3>
                </div>
                <div class="navlink">
                    <a href="" class="nav-item">
                        <i class="fa fa-user"></i>
                        Dashboard
                    </a>
                    <a href="" class="nav-item">
                        <i class="fa fa-user"></i>
                        Dashboard
                    </a>
                    <a href="" class="nav-item">
                        <i class="fa fa-user"></i>
                        Dashboard
                    </a>
                    <a href="/listTouriste" class="nav-item">
                        <i class="fa fa-user"></i>
                        Table
                    </a>
                </div>
            </nav>
        </div>
        <div class="content-create">
            <div class="titre">
                <h3>Modification</h3>
                <div class="icon">
                    <i class="fa fa-bars" id="menu-btn"></i>
                </div>
            </div>
            <div class="container">
                <div class="table">
                    <form action="/opupdate" method="post">
                        <div class="input">
                            <input type="text" name="id" id="touristeId">
                            <label for="Nom">Nom</label>
                            <input type="text" name="nom" id="nom">
                        </div>
                        <div class="input">
                            <label for="Nom">Prenom</label>
                            <input type="text" name="prenom" id="prenom" value="">
                        </div>
                        <div class="input">
                            <label for="Nom">Age</label>
                            <input type="number" name="age" id="age" value="">
                        </div>
                        <div class="input">
                            <label for="Groupe">Groupe</label>
                             <select name="groupe" id="">
                                <option value="">--- Groupe ---</option>
                                {{ options_groupe }}
                             </select>
                        </div>
                        <div class="input">
                            <button type="submit">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/toggle.js"></script>
<script>
  // récupérer les données depuis localStorage
  const data = JSON.parse(localStorage.getItem('editTouriste') || "{}");

  document.getElementById('touristeId').value = data.id || "";
  document.getElementById('nom').value = data.nom || "";
  document.getElementById('prenom').value = data.prenom || "";
  document.getElementById('age').value = data.age || "";
</script>
</html>