header{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: column;
    .logo{
        background: linear-gradient(90deg, rgb(58, 1, 216), rgb(46, 1, 168));
        width: 100%;
        padding: .1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color: white;
            font-size: .9rem;
        }
    }
    nav{
        width: 100%;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        row-gap: 12px;
        .contenu{
            display: flex;
            flex-direction: column;
            .nom{
                display: flex;
                align-items: center;
                i{
                    font-size: 2rem;
                }
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                }
            }
            .date{
                p{
                    font-size: .7rem;
                    color: rgb(80, 80, 80);
                }
            }
        }
        .navlink{
            .link{
                display: flex;
                align-items: center;
                a{
                    color: black;
                    margin: 0 1rem;
                }
                a:hover{
                    border-bottom: 1px black solid;
                    padding-bottom: .5rem;
                }

                @include breakpoint("md"){
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: -100%;
                    background: rgba(0, 0, 0, 0.589);
                    backdrop-filter: blur(6px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    a{
                    color: rgb(255, 255, 255);
                    margin: 1rem 0; 
                    }
                    a:hover{
                        border-bottom: 1px rgb(255, 255, 255) solid;
                        padding-bottom: .5rem;
                    }
                }
            }
            .link.active{
                left: 0;
                z-index: 0;
            }
            div{
                display: none;
                @include breakpoint("md"){
                    display: block;
                    position: relative;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
            div.active{
                z-index: 2;
            }
        }
    }
}
section{
    padding: 2rem .9rem;
    width: 100%;
    .p{
        width: 100%;
        border-bottom: 2px rgb(58, 1, 216) solid;
        color: rgb(58, 1, 216);
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .contenu{
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        margin-bottom: 1.4rem;
        .heading{
            background: linear-gradient(90deg, rgb(58, 1, 216), rgb(46, 1, 168));
            h3{
                color: white;
            }
        }
        .card{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            padding: 1rem;
            @include breakpoint("md"){
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 1rem;
                padding: 1rem;
            }
            .card-item{
                background: white;
                padding: .5rem;
                border-radius: 10px;
                box-shadow: 4px 2px 20px rgba(0, 0, 0, 0.466);
                h4{
                    border-bottom: 2px solid black;
                }
                .card-body{
                    padding: .5rem 0;
                    button{
                        border: none;
                        background-color: rgb(0, 132, 255);
                        color: white;
                        padding: .3rem .8rem;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                    button:hover{
                        border: none;
                        background-color: rgb(2, 115, 221);
                        color: white;
                        padding: .3rem .8rem;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.facture{
    .content-facture{
    width: 100%;
    padding: .5rem;
    background: rgb(223, 223, 223);
    border-radius: 20px 0 0 20px;
    @media(max-width : 992px){
        margin-left: 0;
        border-radius: 0;
    }
        .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;
            input{
                width: 30rem;
                padding: .5rem;
                border: 1px rgb(105, 105, 105) solid;
                border-radius: 5px;
            }
            .icon{
                display: none;
                @media(max-width : 992px){
                    display: block;
                }
                i{
                    cursor: pointer;
                    font-size: 1.4rem;
                }
                i:hover{
                    color: rgb(0, 102, 255);
                }
            }
        }
        .titre{
            padding: 0 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn{
                width: 30px;
                height: 30px;
                background: rgb(0, 102, 255);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                // padding: .5rem;
            }
        }
        .container{
            padding: .5rem 2rem;
            display: flex;
            flex-direction: column;
            .table{
                    margin-top: 1rem;
                    width: 100%;
                    height: auto;
                    padding: 1rem;
                    background: white;
                    border-radius: 20px;
                    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.329);
                    table{
                        width: 100%;
                        thead{
                            th{
                                text-align: left;
                                color: rgb(150, 150, 150);
                            }
                        }
                    }
                }
        }
    }
}
.profil{
    .content-profil{
    width: 100%;
    padding: .5rem;
    background: rgb(223, 223, 223);
    border-radius: 20px 0 0 20px;
    @media(max-width : 992px){
        margin-left: 0;
        border-radius: 0;
    }
        .titre{
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn{
                width: 30px;
                height: 30px;
                background: rgb(0, 102, 255);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                // padding: .5rem;
            }
            .icon{
                display: none;
                @media(max-width : 992px){
                    display: block;
                }
                i{
                    cursor: pointer;
                    font-size: 1.4rem;
                }
                i:hover{
                    color: rgb(0, 102, 255);
                }
            }
        }
        .container{
            padding: .5rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include breakpoint("md"){
                padding: .5rem;
            }
            .table{
                    width: 50%;
                    height: auto;
                    padding: 1rem;
                    background: white;
                    border-radius: 20px;
                    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.329);
                    @include breakpoint("md"){
                        width: 100%;
                    }
                    form{
                        // padding: 2rem;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .profile-container {
                            position: relative;
                            width: 90px;
                            height: 90px;
                            border: 1px solid #ccc;
                            border-radius: 50%;
                            padding: 0;
                            .profile-img {
                                width: 90px;
                                height: 90px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                            .upload-btn {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                background-color: #007bff;
                                color: white;
                                border: none;
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 18px;
                            }
                            .upload-btn:hover {
                                background-color: #0056b3;
                            }
                            input[type="file"] {
                                display: none;
                            }                                   
                        }
                        .profile-container.active{
                            display: none;
                        }
                        .input{
                            width: 100%;
                            // background: rgb(196, 196, 196);
                            margin: .5rem 0;
                            display: flex;
                            flex-direction: column;
                            input, select{
                                width: 100%;
                                padding: .3rem;
                            }
                            button{
                                border: none;
                                padding: .5rem;
                                background-color: rgb(0, 119, 255);
                                color: white;
                                border-radius: 5px;
                            }
                        }
                    }
                }
        }
    }
}