.content-table{
    width: 100%;
    margin-left: 17rem;
    padding: .5rem;
    background: rgb(223, 223, 223);
    border-radius: 20px 0 0 20px;
    @media(max-width : 992px){
        margin-left: 0;
        border-radius: 0;
    }
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        input{
            width: 30rem;
            padding: .5rem;
            border: 1px rgb(105, 105, 105) solid;
            border-radius: 5px;
        }
        .icon{
            display: none;
            @media(max-width : 992px){
                display: block;
            }
            i{
                cursor: pointer;
                font-size: 1.4rem;
            }
            i:hover{
                color: rgb(0, 102, 255);
            }
        }
    }
    .titre{
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn{
            width: 30px;
            height: 30px;
            background: rgb(0, 102, 255);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            // padding: .5rem;
        }
    }
    .container{
        padding: .5rem 2rem;
        display: flex;
        flex-direction: column;
        .table{
                margin-top: 1rem;
                width: 100%;
                height: auto;
                padding: 1rem;
                background: white;
                border-radius: 20px;
                box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.329);
                table{
                    width: 100%;
                    thead{
                        th{
                            text-align: left;
                            color: rgb(150, 150, 150);
                        }
                    }
                }
            }
    }
}